# Packed conda environments - too large for normal GitHub commits
env/*.tar.gz
env/*.zip
portable_env/

# Large binary files - do not commit to regular Git
env/*.tar.gz
env/*.zip
installers/*
portable_env/

# GP dev environment
pyproject.toml
.venv
.python-version
uv.lock
course_materials/day3_surrogates_gp/slides/dev
*.DS_Store
.DS_Store
